@keyframes horizontalScroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.wrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 200px;
}

.image-container {
  display: flex;
  animation: horizontalScroll 15s linear infinite;
}

.image {
  width: auto;
  height: 50px;
}
