.Exchange-linkStyle{
  color: white;
  text-decoration: none;
}
.Exchange-imgStyle{
  width: 20px;
  margin-right: 10px;
}
.Exchange-symbol-Style{
  font-weight: 400;
  color: gray;
  margin-left: 6px;
}