//
//.allSupplys{
//  margin-bottom: 30px;
//}
//
//.SupplyItems {
//  /* Allgemeine Stile für das umschließende Div */
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: space-around;
//  font-size: 20px;
//}
//
//.supply-value {
//  margin-bottom: 10px;
//  font-size: 18px;
//  color: white; /* Beispiel für eine Textfarbe */
//}

.ExchangeDetailImgStyle {
  width: 55px;
  height: 50px;
  margin-right: 10px;
  padding-bottom: 20px;
}
.DataContainer {
  width: 100%;
  height: 500px;
}

.DataExchangeItems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 500px;
  font-size: 20px;
  margin-top: 30px;

}

.DataValue {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.ExchangeDataStyle{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  border: 5px solid #1f0546;
  border-radius: 20px;
}

.ExchangeDataFlex{
  height: 500px;
  margin-bottom: 150px;
}
.ExchangeDataTitle{
  flex-direction: column;
  font-size: 25px;
  p{
    margin-bottom: 40px;
  }
}

.MarketDataValue {
  flex-direction: column;
  font-size: 25px;
  p{
    margin-bottom: 40px;
  }
}
